@using Microsoft.AspNetCore.Http
@model ViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artes de Lineh - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site2.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header class="w-100 position-relative text-center">
        <img src="/imagens/Logo.jpg" alt="Logo" id="logo">
        <nav>
            <a asp-action="Index" asp-controller="Home" id="home">Home</a>
            <a asp-action="Produtos" asp-controller="Produtos" id="produtos">Produtos</a>
            <a asp-action="Desenhos" asp-controller="Desenho" id="Desenhos">Desenhos</a>
            <a asp-action="Encomendas" asp-controller="pedido" id="encomendas">Encomendas</a>
            <a asp-action="FaleConosco" asp-controller="Home" id="faleConosco">Fale conosco</a>
            @if(Context.Session.GetInt32("tipoUsuarioUsuario")==1){<a asp-action="Menu" asp-controller="Home" id="menu" class="mr-0">Menu</a>}
        </nav>

        @if(Context.Session.GetInt32("idUsuarioUsuario")==null){
            <a asp-action="Menu" asp-controller="Home"><img src="~/imagens/user1.png" alt="usuario" class="user"></a> 
        }else{
            foreach (Usuario item in Model.listaUsuario)
            {
              <a asp-action="Menu" asp-controller="Home"><img src="@item.avatar" class="rounded-circle img-thumbnail user" alt="usuario"></a>   
            }         
        }

        @if(Context.Session.GetInt32("idUsuarioUsuario")!=null){
            <a asp-action="logout" asp-controller="Usuario"><img src="~/imagens/logout.png" alt="usuario" class="user" id="logout"></a>
        }
    
        @if(Context.Session.GetInt32("idUsuarioUsuario")!=null){
            <div id="nomeUser" class="text-center">
                <p id="ola">Olá <b>@Context.Session.GetString("nomeUsuarioUsuario")</b>
            </div>   
        }
        

    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <main role="main" class="container position-relative text-center w-100">
        @RenderBody()
    </main>

    <footer class="position-relative w-100">
        <h3 class="ml-3">Artes da Lineh &copy;</h3>
        <div id="social-media">
            <a href="https://www.facebook.com/artesdelineh/?hc_ref=ARSFqW15de8Fn1Jv2HpH1IASR_RcaJ8atTwVahsKLwSRu-Y5_Ijw4v1wlIwlH5XN_14&fref=nf" target="_blank"><label id="facebook"></label></a>
            <a href="https://instagram.com/artesdelineh?igshid=fqlr31zoyixy" target="_blank"><label id="instagram"></label></a>
            <a href="https://br.pinterest.com/alineilustracoes/" target="_blank"><label id="pinterest"></label></a>
        </div>
        <h3 id="copyright">Copyrights</h3>
        <div id="copyrights">
            <p>Ícones feitos por <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon"> www.flaticon.com</a></p>
            
            <p>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
            
            <p>Icons made by <a href="https://www.flaticon.com/authors/dmitri13" title="dmitri13">dmitri13</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
            
            <p>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
        </div>
        
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
