@model List<Pedido>
@{
    ViewData["Title"]="Visualizar pedidos";
    Layout = null;
}
<h2>Visualização de pedidos</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Estado</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data do Pedido</th>
                <th scope="col">Pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Pedido item in Model)
            {
               <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.nome</td>
                    <td>@item.estado</td>
                    <td>@item.endereco</td>
                    <td>@item.telefone</td>
                    <td>@item.dataPedido</td>
                    <td>@item.pedido</td>
                </tr> 
            }
        </tbody>
    </table>
</div>
<p><a asp-action="Produtos" asp-controller="Produtos">Ver mais produtos</a></p>



